@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-950 text-slate-100 antialiased;
    background-image:
        radial-gradient(at 0% 0%, rgba(16, 185, 129, 0.15) 0px, transparent 50%),
        radial-gradient(at 100% 0%, rgba(59, 130, 246, 0.15) 0px, transparent 50%),
        radial-gradient(at 100% 100%, rgba(239, 68, 68, 0.05) 0px, transparent 50%);
    background-attachment: fixed;
    min-height: 100vh;
}